
body {
	font-family: "Arial", sans-serif;
	background-color: rgb(255, 255, 255);
	width: 100%;
}

/*Main menu Glding >>BEGIN<<*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
	--primary-color: #fe5f03;
	--secondary-color: #ffffff4b;
	--menu-resting-color: #21212188;
}


*,
*:after,
*:before {
	box-sizing: border-box;
}

.demoContainer {
	position: sticky;
	left: 0;
	top: 20px;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
  	margin-top: 20px;
	z-index: 99;
}

/* entire dashboard */
.demoTabs { 
	display: flex;
	position: relative;
  background: rgba(223, 223, 223, 0.5);
	box-shadow: 0 0 1px 0 rgba(#0000004d, 0.15), 0 6px 12px 0 rgba(#0000004d, 0.15);
	padding: 0.75rem;
	border-radius: 99px; 

	* {
		z-index: 2;
	}
}

input[type="radio"] {
	display: none;
}

.demo_tab {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 54px;
	width: 150px;
	font-size: 1.25rem;
	font-weight: 500;
	border-radius: 99px;  
	cursor: pointer;
	transition: color 0.15s ease-in;
	z-index: 2;
}

.demo_tab a:link { text-decoration: none; color:var(--menu-resting-color);}
.demo_tab a:visited { text-decoration: none; color:var(--menu-resting-color);}
.demo_tab a:hover { text-decoration: none; color:var(--menu-resting-color);}
.demo_tab a:active { text-decoration: none; color:var(--menu-resting-color);}

input[type="radio"] {
	&:checked {
		& + label {
			color: var(--primary-color);
		}
	}
}

input[id="radio-1"] {
	&:checked {
		& ~ .glider {
			transform: translateX(0) scale(1, 1);
		}
	}
}

input[id="radio-2"] {
	&:checked {
		& ~ .glider {
			transform: translateX(100%);
		}
	}
}

input[id="radio-3"] {
	&:checked {
		& ~ .glider {
			transform: translateX(200%);
		}
	}
}

input[id="radio-4"] {
	&:checked {
		& ~ .glider {
			transform: translateX(300%);
		}
	}
}

.glider {
	position: absolute;
	display: flex;
	height: 54px;
	width: 150px;
  
	background-color: var(--secondary-color);
	z-index: 1;
	border-radius: 99px;  
	transition: 0.01s ease-out;
}

@media (max-width: 700px) {
	.tabs {
		transform: scale(0.6);
	}
}

.demoTabs {
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
}

/*Main menu Glding >>END<< */

/* EVERY TITLE EXCEPT FOR NAME */
h1{
    color: black;
    text-align: center;
    margin-top: 130px;
    font-size: 35px;
	font-weight: lighter;
    
}



.dindin {
	font-family: 'Pinyon Script', cursive; 
	font-size: 60px;
	font-weight: 100;
}





/* BLURRING EFFECT
    #globalnav.globalnav-scrim, .globalnav-scrim #globalnav {
    --globalnav-backdrop-filter: saturate(180%) blur(20px);
    --globalnav-background: rgba(251, 251, 253, .8);
}
*/

